{% extends "base.html" %}

{% block content %}
        <div class="top-content">
            <div class="inner-bg" style="padding-top: 5em; padding-left: 4em;">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-5 form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>{{language['c-register-Signupnow']}}</h3>
                                    <p>{{language['c-register-fillinform']}}</p>
                                </div>
                                <div class="form-top-right">
                                    <i class="fa fa-pencil"></i>
                                </div>
                                <div class="form-top-divider"></div>
                            </div>
                            <div class="form-bottom">
                                <form action="" method="post" class="registration-form" novalidate>
                                    {{ form.hidden_tag() }}
                                    <div class="form-group">
                                        <p id="username">
                                        {{ form.username(size=35) }}
                                        
                                        <span id="checkuser"></span>
                                        </p>
                                        {% for error in form.username.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>
                                    <div class="form-group">
                                        <p id="email">
                                        {{ form.email(size=35) }}
                                        
                                        <span id="checkemail"></span>
                                        </p>
                                        {% for error in form.email.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>
                                    <div class="form-group">
                                        <p id="password">
                                        {{ form.password(size=35) }}
                                        <span id="checkpassword"></span>
                                        </p>
                                        {% for error in form.password.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>
                                    <div class="form-group">
                                        {{ form.password2(size=35) }}
                                        
                                        {% for error in form.password2.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>
                                    <div class="form-check">
                                        {{ form.accept_rules() }} 
                                        {{ form.accept_rules.label }}
                                        <a href="{{ url_for('index') }}"><b>{{language['c-register-siterule']}}</b></a> <br>
                                        {% for error in form.accept_rules.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>
                                    {{ form.submit() }}
                                </form>
                            </div>
                        </div>
                        <div class="col-sm-7 text" style="padding-top: 10em;">
                            <h1>{{language['c-register-registerform']}}</h1>
                            <div class="description">
                                {{language['c-register-ifyouwant']}} 
                                <br>{{language['c-register-pleasesignup']}} 
                            </div>
                            <div class="top-big-link">
                                <div class="description">
                                    <p>
                                        <br>
                                        {{language['c-register-already']}}
                                    </p>
                                </div>
                                <a class="btn-link-1" href="{{url_for('login')}}">{{language['c-register-login']}}</a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>          
        </div>

{% endblock %}
