{% extends "base.html" %}

{% block content %}
    <script src="{{ url_for('static', filename='scripts/myjs.js') }}"></script>
    <h1><i> My Blog</i></h1>
    <div class="bg">
    	<h2 style="margin-bottom: 10px;">Please sign up below </h2>
        <hr>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p style="margin-top: 22px;">
                <p id="username">
                <!-- {{ form.username.label }}<br> -->
                {{ form.username(size=35) }}
                <br>
                <span id="checkuser"></span>
    			</p>
    			{% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
    			
            </p>
    		<p>
                <p id="email">
                <!-- {{ form.email.label }}<br> -->
                {{ form.email(size=35) }}<br>
                <span id="checkemail"></span>
    			</p>
    			{% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
    			
            </p>
            <p>
                <!-- {{ form.password.label }}<br> -->
                {{ form.password(size=35) }}<br>
    			
    			{% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
    			
            </p>
    		<p>
                <!-- {{ form.password2.label }}<br> -->
                {{ form.password2(size=35) }}<br>
    			
    			{% for error in form.password2.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}

            </p>
            <p>{{ form.accept_rules() }} {{ form.accept_rules.label }}
            <a href="../static/plain.html"><i><b> SITE RULES</b></i></a> <br>
    			{% for error in form.accept_rules.errors %}
    			<span style="color: red;">[{{ error }}]</span>
    			{% endfor %}
            </p>
            <p class="submit">{{ form.submit() }}</p>
        </form>
    </div>
{% endblock %}
