@charset "utf-8";
/**{
    font-family: serif;
    font-size: 16px;
    border: 0;
    padding: 0;
    margin: 0;
    color: #666;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}*/

html,body{
    width:100%;
}
 
body {
	background:url('images/4.jpg') no-repeat;
	background-size: 100%;
}

h1{
	color: pink;
	text-align: center;
	margin-right: 10px;
}
h2{
	color: black;
	margin-left: 80px;
}

p{
	color: darkgreen;
	margin-left: 80px;
	/*text-align: center;*/
}

.bg{
	width: 400px;
	height: 337px;
	background: #fff;
	position: relative;
    position:absolute;
    left:0px;
    top:0px;
    right:0px;
    bottom:0px;
    margin:auto;
    z-index: 1;
    box-shadow:0px 0px 50px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
}

.success {
    color: green;
}

.failure {
    color: red;
}
