{% extends "customer_base.html" %}

{% block content %}
              <div class="card sidebar-menu mb-4">
                <div class="card-header">
                  <h3 class="h4 card-title">CATELOGUE</h3>
                </div>
                <div class="card-body">
                  <ul class="nav nav-pills flex-column category-menu">
                    <li><a href="category.html" class="nav-link">Standard Appointment</a>
                      <ul class="list-unstyled">
                        <li><a href="reservation-s.html" class="nav-link">Make an appointment</a></li>
                        <li><a href="status-a.html" class="nav-link">Appointment Status</a></li>
                        <li><a href="record-a.html" class="nav-link">Appointment record</a></Sli>
                      </ul>
                    </li>
                    <li><a href="category.html" class="nav-link">Emergency</a>
                  <!--  <li><a href="category.html" class="nav-link active">Emergency  <span class="badge badge-light">1</span></a>-->
                      <ul class="list-unstyled">
                        <li><a href="reservation-e.html" class="nav-link">Make an appointment</a></li>
                        <li><a href="status-en.html" class="nav-link">Appointment Status</a></li>
                        <li><a href="record-e.html" class="nav-link">Appointment record</a></li>
                      </ul>
                    </li>
                    <li><a href="#" class="nav-link">Surgical Operation  <span cElass="badge badge-secondary">1</span></a>
                      <ul class="list-unstyled">
                        <li><a href="status-sur.html" class="nav-link">Operation Status</a></li>
                        <li><a href="category.html" class="nav-link">Operation record</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="card sidebar-menu mb-4">
                <div class="card-header">
                  <h3 class="h4 card-title">PETS <a href="#" class="btn btn-sm btn-danger pull-right"><i class="fa fa-times-circle"></i> Clear</a></h3>
                </div>
                <div class="card-body">
                  <form>
                    <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> 1
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> 2
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox">3
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> 4
                        </label>
                      </div>
                    </div>
                   
                  </form>
                </div>
              </div>
             
              <!-- *** MENUS AND FILTERS END ***-->
              <div class="banner"><a href="#"><img src="img/banner.jpg"  class="img-fluid"></a></div>
            </div>
            <div class="col-lg-9">
              <div class="box">
                <h1>Pet Paw</h1>
                <p>In our Healing Paws Veterinary Hospital, there are two appointment types: emergency and standard.</p>
        </div>
    
              <div class="row products">
                <div class="col-lg-4 col-md-6">
                  <div class="product">
                    <div class="flip-container">
                      <div class="flipper">
                        <div class="front"><a href="detail.html"><img src="img/doctor1.jpg" alt="" class="img-fluid"></a></div>
                        <div class="back"><a href="detail.html"><img src="img/doctor1.jpg" alt="" class="img-fluid"></a></div>
                      </div>
                    </div><a href="detail.html" class="invisible"><img src="img/doctor1.jpg" alt="" class="img-fluid"></a>
                    <div class="text">
                      <h3><a href="detail.html">Standard Appointment</a></h3>
                     
            <p class="buttons"><a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>
            Add to message</a></p>
                    </div>
                    <!-- /.text-->
                  </div>
                  <!-- /.product            -->
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="product">
                    <div class="flip-container">
                      <div class="flipper">
                        <div class="front"><a href="detail.html"><img src="img/doctor2.jpg" alt="" class="img-fluid"></a></div>
                        <div class="back"><a href="detail.html"><img src="img/doctor2.jpg" alt="" class="img-fluid"></a></div>
                      </div>
                    </div><a href="detail.html" class="invisible"><img src="img/doctor2.jpg" alt="" class="img-fluid"></a>
                    <div class="text">
                      <h3><a href="detail.html">Emergency Appointment</a></h3>
                    
                      <p class="buttons"><a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to message</a></p>
                    </div>
                    <!-- /.text-->
                    <div class="ribbon sale">
                      <div class="theribbon">&thinsp;URGENT</div>
                      <div class="ribbon-background"></div>
                    </div>
                    <!-- /.ribbon-->
                    <div class="ribbon new">
                      <div class="theribbon"> &nbsp; &nbsp;FAST</div>
                      <div class="ribbon-background"></div>
                    </div>
                   
                  </div>
                  <!-- /.product            -->
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="product">
                    <div class="flip-container">
                      <div class="flipper">
                        <div class="front"><a href="detail.html"><img src="img/doctor3.jpg" alt="" class="img-fluid"></a></div>
                        <div class="back"><a href="detail.html"><img src="img/doctor3.jpg" alt="" class="img-fluid"></a></div>
                      </div>
                    </div><a href="detail.html" class="invisible"><img src="img/doctor3.jpg" alt="" class="img-fluid"></a>
                    <div class="text">
                      <h3><a href="detail.html">Surgical Operation</a></h3>
                     
                      <p class="buttons"><a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to message</a></p>
                    </div>
                    <!-- /.text-->
                  </div>
                  <!-- /.product            -->
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="product">
                    <div class="flip-container">
                      <div class="flipper">
                        <div class="front"><a href="detail.html"><img src="img/doctor3.jpg" alt="" class="img-fluid"></a></div>
                        <div class="back"><a href="detail.html"><img src="img/doctor3.jpg" alt="" class="img-fluid"></a></div>
                      </div>
                    </div><a href="detail.html" class="invisible"><img src="img/doctor3.jpg" alt="" class="img-fluid"></a>
                    <div class="text">
                      <h3><a href="detail.html">Postoperative care</a></h3>
                     
                      <p class="buttons"><a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to message</a></p>
                    </div>
                    <!-- /.text-->
                  </div>
                  <!-- /.product            -->
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="product">
                    <div class="flip-container">
                      <div class="flipper">
                        <div class="front"><a href="detail.html"><img src="img/doctor2.jpg" alt="" class="img-fluid"></a></div>
                        <div class="back"><a href="detail.html"><img src="img/doctor2.jpg" alt="" class="img-fluid"></a></div>
                      </div>
                    </div><a href="detail.html" class="invisible"><img src="img/doctor2.jpg" alt="" class="img-fluid"></a>
                    <div class="text">
                      <h3><a href="detail.html">check-ups</a></h3>
                    
                      <p class="buttons"><a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to message</a></p>
                    </div>
                    <!-- /.text-->
                    <div class="ribbon new">
                      <div class="theribbon">&nbsp;&thinsp; NEW</div>
                      <div class="ribbon-background"></div>
                    </div>
                    <!-- /.ribbon-->
                  </div>
                  <!-- /.product            -->
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="product">
                    <div class="flip-container">
                      <div class="flipper">
                        <div class="front"><a href="detail.html"><img src="img/doctor1.jpg" alt="" class="img-fluid"></a></div>
                        <div class="back"><a href="detail.html"><img src="img/doctor1.jpg" alt="" class="img-fluid"></a></div>
                      </div>
                    </div><a href="detail.html" class="invisible"><img src="img/doctor1.jpg" alt="" class="img-fluid"></a>
                    <div class="text">
                      <h3><a href="detail.html">Bathe Pets</a></h3>
                    
                      <p class="buttons"><a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to message</a></p>
                    </div>
                    <!-- /.text-->
                    <div class="ribbon gift">
                      <div class="theribbon">&nbsp;&nbsp;&thinsp;GIFT</div>
                      <div class="ribbon-background"></div>
                    </div>
                    <!-- /.ribbon-->
                  </div>
                  <!-- /.product            -->
                </div>
                <!-- /.products-->
              </div>
              <div class="pages">
                <p class="loadMore"><a href="#" class="btn btn-primary btn-lg"><i class="fa fa-chevron-down"></i> Load more</a></p>
                <nav aria-label="Page navigation example" class="d-flex justify-content-center">
                  <ul class="pagination">
                    <li class="page-item"><a href="#" aria-label="Previous" class="page-link"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>
                    <li class="page-item active"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" aria-label="Next" class="page-link"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>
                  </ul>
                </nav>
              </div>
            </div>
            <!-- /.col-lg-9-->
          </div>
        </div>
      </div>
    </div>

{% endblock %}