{% extends "base.html" %}

{% block content %}
		<div class="slider">
        	<div class="slider-img">
          		<div class="container">
            		<div class="slider-info">
              			<h5>Healing your pets</h5>
              			<div class="bottom-info">
              				<p>A veterinary hospital that treats dogs and cats only</p>
              			</div>
              			<div class="outs_more-buttn">
                			<a href="#">Read More</a>
              			</div>
            		</div>
          		</div>
        	</div>
        <!-- This is here just to demonstrate the callbacks -->
        <!-- <ul class="events">
          <li>Example 4 callback events</li>
          </ul>-->
       		<div class="clearfix"></div>
    	</div>

{% endblock %}