<!--author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>modern Appointment Form Flat</title>
<!-- metatags-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="modern appointment form a Flat Responsive Widget,Login form widgets, Sign up Web 	forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Meta tag Keywords -->
<!-- css files -->
<link rel="stylesheet" href="assets3/css-a/jquery-ui.css"/>
<link href="assets3/css-a/style.css" rel="stylesheet" type="text/css" media="all"/><!--stylesheet-css-->
<link href="//fonts.googleapis.com/css?family=Poppins" rel="stylesheet"><!--online-fonts-->
<link href="//fonts.googleapis.com/css?family=Raleway" rel="stylesheet"><!--online-fonts-->
<!-- //css files -->
</head>
<body>
	<h1><span class="title">Standard</span> App<span class="title">o</span>intment f<span class="title">o</span>rm</h1>
<div class="w3l-main">
	<div class="w3l-from">
		<form action="#" method="post">	
			<div class="w3l-user">
				<label class="head">name<span class="w3l-star"> * </span></label>
				<input type="text" name="Username" placeholder="pet name" required="">
			</div>
			<div class="w3l-mail">
				<label class="head">mail<span class="w3l-star"> * </span></label>
				<input type="email" name="name" placeholder="enter your e-mail" required="">
			</div>
			<div class="clear"></div>
			<div class="w3l-details1">
				<div class="w3l-num">
					<label class="head">phone number<span class="w3l-star"> * </span></label>
					<input type="text"  name="phone number" placeholder="Phone Number" required="">
				</div>
				<div class="w3l-date">
					<label class="head">date of appointment<span class="w3l-star"> * </span></label>
						<div class="styled-input">
							<input class="date" id="datepicker" name="Text" type="text" value="MM/DD/YYYY" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'MM/DD/YYYY';}" required="">
						</div>
					</div>	
			<div class="clear"></div>
			
			<div class="gender">
				<label class="head">Time<span class="w3l-star"> * </span></label>	
					<select class="form-control" required="">
						
						<option>Morning</option>
						<option>Afternoon</option>
					</select>
			</div>
			<div class="w3l-sym">
					<label class="head">symptoms<span class="w3l-star"> * </span></label>
					<input type="text" name="details" required="">
			</div>
			</div><div class="clear"></div>
			<div class="w3l-lef1">
				<label class="w3l-head2">Taking any measures currently?</label>
					<ul>
						<li>
							<input type="radio" name="selector1">
							<label class="w3l-set">Yes</label>
						</li>
						<li>
							<input type="radio" name="selector1">
							<label class="w3l-set">No</label>
						</li>
					</ul>
				<div class="clear"></div>
			</div>	
			<div class="w3l-rem">
				<div class="w3l-right">
					<label class="w3l-set2">If yes,Please list it.</label>
					<textarea></textarea>
				</div>	
				<div class="btn">
					<input type="submit" name="submit" value="Book Appointment"/>
                </div>
                <div class="btn">
                    <a href="main.html" >back</a>
				</div>
			</div>
			<div class="clear"></div>
		</form>
	</div>
</div>
	
	<!-- Default-JavaScript --> <script type="text/javascript" src="assets3/js-a/jquery-2.1.4.min.js"></script>

<!-- Calendar -->
<script src="assets3/js-a/jquery-ui.js"></script>
	<script>
		$(function() {
		$( "#datepicker,#datepicker1" ).datepicker();
		});
	</script>
<!-- //Calendar -->

</body>
</html>