{% extends "customer_base.html" %}

{% block content %}
              <div class="card sidebar-menu mb-4">
                <div class="card-header">
                  <h3 class="h4 card-title">CATELOGUE</h3>
                </div>
                <div class="card-body">
                  <ul class="nav nav-pills flex-column category-menu">
                    <li><a href="category.html" class="nav-link">Standard Appointment</a>
                      <ul class="list-unstyled">
                        <li><a href="{{ url_for('reservation_s') }}" class="nav-link">Make an appointment</a></li>
                        <li><a href="{{ url_for('status_a') }}" class="nav-link">Appointment Status</a></li>
                        <li><a href="{{ url_for('record_a') }}" class="nav-link">Appointment record</a></Sli>
                      </ul>
                    </li>
                    <li><a href="category.html" class="nav-link">Emergency</a>
                  <!--  <li><a href="category.html" class="nav-link active">Emergency  <span class="badge badge-light">1</span></a>-->
                      <ul class="list-unstyled">
                        <li><a href="{{ url_for('reservation_e') }}" class="nav-link">Make an appointment</a></li>
                        <li><a href="{{ url_for('status_en') }}" class="nav-link">Appointment Status</a></li>
                        <li><a href="{{ url_for('record_e') }}" class="nav-link">Appointment record</a></li>
                      </ul>
                    </li>
                    <li><a href="category.html" class="nav-link">Surgical Operation  <span cElass="badge badge-secondary">1</span></a>
                      <ul class="list-unstyled">
                        <li><a href="{{ url_for('status_sur') }}" class="nav-link">Operation Status</a></li>
                        <li><a href="category.html" class="nav-link">Operation record</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="card sidebar-menu mb-4">
                <div class="card-header">
                  <h3 class="h4 card-title">PETS <a href="#" class="btn btn-sm btn-danger pull-right"><i class="fa fa-times-circle"></i> Clear</a></h3>
                </div>
                <div class="card-body">
                  <form>
                    <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> 1
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> 2
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox">3
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> 4
                        </label>
                      </div>
                    </div>
                   
                  </form>
                </div>
              </div>
             
              <!-- *** MENUS AND FILTERS END ***-->
              <div class="banner"><a href="#"><img src="img/banner.jpg"  class="img-fluid"></a></div>
            </div>
            <div class="col-lg-9">
              <div class="box">
                <h1>Pet Paw</h1>
                <p>In our Healing Paws Veterinary Hospital, there are two appointment types: emergency and standard.</p>
			      </div>
		
           
          
          <div id="customer-orders" class="col-lg-9">
            <div class="box" style="margin-right: -220px;margin-left: -14px;">
              <h1>Emergency Appiontment Status</h1>
              <p class="lead">Status of your pets</p>
              <p class="text-muted">If you have any questions, please feel free to <a href="contact.html">contact us</a>, our customer service center is working for you 24/7.</p>
              <hr>
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Pet Name</th>
                      <th>Date</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>33333</th>
                      <td>mike</td>
                      <td>14/04/2020</td>
                      <td><span class="badge badge-info">Waiting</span></td>
                      <td><a href="customer-order.html" class="btn btn-primary btn-sm">View</a></td>
                    </tr>
                    <tr>
                      <th>33333</th>
                      <td>mike</td>
                      <td>14/04/2020</td>
                      <td><span class="badge badge-info">Waiting</span></td>
                      <td><a href="customer-order.html" class="btn btn-primary btn-sm">View</a></td>
                    </tr>
                    <tr>
                      <th>33333</th>
                      <td>mike</td>
                      <td>14/04/2020</td>
                      <td><span class="badge badge-success">See the doctor</span></td>
                      <td><a href="customer-order.html" class="btn btn-primary btn-sm">View</a></td>
                    </tr>
                    <tr>
                      <th>33333</th>
                      <td>mike</td>
                      <td>14/04/2020</td>
                      <td><span class="badge badge-danger">Cancelled</span></td>
                      <td><a href="customer-order.html" class="btn btn-primary btn-sm">View</a></td>
                    </tr>
                    <tr>
                      <th>33333</th>
                      <td>mike</td>
                      <td>14/04/2020</td>
                      <td><span class="badge badge-warning">On hold</span></td>
                      <td><a href="customer-order.html" class="btn btn-primary btn-sm">View</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>            <!-- /.col-lg-9-->
          </div>
        </div>
      </div>
    </div>
{% endblock %}