{% extends "customer_base.html" %}
{% block head %}
        <style type="text/css">

                .success{
                    color: green;
                }
                .failure{
                    color: red;
                }

            </style>

{% endblock %}

{% block content %}
<script src="{{ url_for('static', filename='scripts/myjs.js') }}"></script>
              <div class="card sidebar-menu">
                <div class="card-header">
                  <h3 class="h4 card-title">{{language['c-password-ps']}}</h3>
                </div>
                <div class="card-body">
                  <ul class="nav nav-pills flex-column">
                   
                    <a href="{{ url_for('customer_password') }}" class="nav-link active"><i class="fa fa-save"></i> {{language['c-password-changepassword']}}</a>
                    <a href="{{ url_for('customer_index') }}" class="nav-link"><i class="fa fa-sign-out"></i> {{language['c-password-back']}}</a></ul>
                </div>
              </div>
              <!-- /.col-lg-3-->
              <!-- *** CUSTOMER MENU END ***-->
            </div>
            <div class="col-lg-9">
              <div class="box">
                <h1>{{language['c-password-mc']}}</h1>
                <p class="lead">{{language['c-passowrd-changehere']}}</p>
              
                <h3 class="mt-5">{{language['c-password-changepassword']}}</h3>
                <form action="" method="post" class="registration-form">
                 {{ form.hidden_tag() }}
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="password_old">Old password</label>
                        {{ form.password3(size=32) }}
                        {% for error in form.password3.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="password_1">New password</label>
                        <p id="password">
                          {{ form.password(size=35) }}
                            <span id="checkpassword"></span>
                       </p>
                        {% for error in form.password.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="password_2">Retype new password</label>
                       <p id="password2">
                          {{ form.password2(size=35) }}
                            
                       </p>
                        {% for error in form.password2.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  <!-- /.row-->
                  <div class="col-md-12 text-center">
                    <!-- <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save new password</button> -->
                    {{ form.pas() }}

                  </div>
                </form>
              </div>
            </div>
           
{% endblock %}