{% extends "customer_base.html" %}

{% block content %}

              <div class="card sidebar-menu">
                <div class="card-header">
                  <h3 class="h4 card-title">{{language['p-account-petaccount']}}</h3>
                </div>
                <div class="card-body">
                  <ul class="nav nav-pills flex-column">
                    <a href="{{ url_for('pet_add') }}" class="nav-link active"><i class="fa fa-list"></i> {{language['p-account-add']}}</a>
                    <a href="{{ url_for('pet_account') }}" class="nav-link"><i class="fa fa-sign-out"></i> {{language['p-account-back']}}</a></ul>
                </div>
              </div>
              <!-- /.col-lg-3-->
              <!-- *** CUSTOMER MENU END ***-->
            </div>
            <div class="col-lg-9">
              <div class="box">
                <h1>{{language['p-add-petaccount']}}</h1>
                <p class="lead">{{language['p-add-adddetial']}}</p>
              
                <form action="" method="post">
                
                  
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="firstname">{{language['p-add-name']}}</label>
                        <input type="name" name="name" class="form-control" required="required">
                        
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="lastname">{{language['p-add-old']}}</label>
                        
                        <input type="age" name="age" class="form-control" required="required">
                      </div>
                    </div>
                  </div>
                  <!-- /.row-->
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="company">{{language['p-add-gender']}}</label>
                       
                        <select name='pet_gender' class="form-control">
                            <option value="Male" selected="selected">{{language['p-add-male']}}</option>
                            <option value="Female" >{{language['p-add-female']}}</option>
                    </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="street">{{language['p-add-type']}}</label>
                       
                        <select name='pet_type' class="form-control">
                            <option value="Dog" selected="selected">{{language['p-add-dog']}}</option>
                            <option value="Cat">{{language['p-add-cat']}}</option>
                    </select>
                      </div>
                    </div>
                  </div>
                  <!-- /.row-->
                
                    <div class="col-md-12 text-center">
                      <button name="add" value="save" type="submit" class="btn btn-primary"><i class="fa fa-save"></i> {{language['p-add-SC']}}</button>
                    
                    </div>
                    </form>
                  </div>
                
              </div>
{% endblock %}