{% extends "customer_base.html" %}

{% block content %}
              <div class="card sidebar-menu mb-4">
                <div class="card-header">
                  <h3 class="h4 card-title">{{language['c-index-cat']}}</h3>
                </div>
                <div class="card-body">
                  <ul class="nav nav-pills flex-column category-menu">
                    <li><a style="color: #4fbfa8" class="nav-link">{{language['c-index-Standard']}}</a>
                      <ul class="list-unstyled">
                        <li><a href="{{ url_for('reservation_s') }}" class="nav-link">{{language['c-index-Makeanappointment']}}</a></li>
                        <li><a href="{{ url_for('status_a') }}" class="nav-link">{{language['c-index-CheckStatus']}}</a></li>
                      </ul>
                    </li>
                    <li><a style="color: #4fbfa8" class="nav-link">{{language['c-index-Emergency']}}</a>
                  <!--  <li><a href="category.html" class="nav-link active">Emergency  <span class="badge badge-light">1</span></a>-->
                      <ul class="list-unstyled">
                        <li><a href="{{ url_for('reservation_e') }}" class="nav-link">{{language['c-index-Makeanappointment']}}</a></li>
                        <li><a href="{{ url_for('status_e') }}" class="nav-link">{{language['c-index-CheckStatus']}}</a></li>
                      </ul>
                    </li>
                    <li><a style="color: #4fbfa8" class="nav-link">{{language['c-index-Operation']}}</a>
                      <ul class="list-unstyled">
                        <li><a href="{{ url_for('status_sur') }}" class="nav-link">{{language['c-index-OperationStatus']}}</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
             
              <!-- *** MENUS AND FILTERS END ***-->
            
              </div>

            <div class="col-lg-9">
              <div class="box">
                <h2>{{language['c-index-wel']}} {{ username }}!</h2>
                <p>{{language['c-index-click']}}</p>
              </div>
    
              <div class="row products">
                <div class="col-lg-4 col-md-6">
                  <div class="product">
                    <div class="flip-container">
                      <div class="flipper">
                        <div class="front"><a href="{{ url_for('detail') }}"><img src="static/img/doctor1.jpg" alt="" class="img-fluid"></a></div>
                        <div class="back"><a href="{{ url_for('detail') }}"><img src="static/img/doctor1.jpg" alt="" class="img-fluid"></a></div>
                      </div>
                    </div><a href="{{ url_for('detail') }}" class="invisible"><img src="static/img/doctor1.jpg" alt="" class="img-fluid"></a>
                    <div class="text">
                      <h3><a href="{{ url_for('detail') }}">{{language['c-index-StandardAppointment']}}</a></h3>
                     
            <!-- <p class="buttons"><a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>
            View more</a></p> -->
                    </div>
                    <!-- /.text-->
                  </div>
                  <!-- /.product            -->
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="product">
                    <div class="flip-container">
                      <div class="flipper">
                        <div class="front"><a href="{{ url_for('detail_a') }}"><img src="static/img/doctor2.jpg" alt="" class="img-fluid"></a></div>
                        <div class="back"><a href="{{ url_for('detail_a') }}"><img src="static/img/doctor2.jpg" alt="" class="img-fluid"></a></div>
                      </div>
                    </div><a href="{{ url_for('detail_a') }}" class="invisible"><img src="static/img/doctor2.jpg" alt="" class="img-fluid"></a>
                    <div class="text">
                      <h3><a href="{{ url_for('detail_a') }}">{{language['c-index-EmergencyAppointment']}}</a></h3>
                    
                      <!-- <p class="buttons"><a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>View more</a></p> -->
                    </div>
                    <!-- /.text-->
                    <div class="ribbon sale">
                      <div class="theribbon"> &nbsp; &nbsp;{{language['c-index-URGENT']}}</div>
                      <div class="ribbon-background"></div>
                    </div>
                    <!-- /.ribbon-->
                    <div class="ribbon new">
                      <div class="theribbon"> &nbsp; &nbsp;{{language['c-index-fast']}}</div>
                      <div class="ribbon-background"></div>
                    </div>
                   
                  </div>
                  <!-- /.product            -->
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="product">
                    <div class="flip-container">
                      <div class="flipper">
                        <div class="front"><a href="{{ url_for('detail_b') }}"><img src="static/img/doctor3.jpg" alt="" class="img-fluid"></a></div>
                        <div class="back"><a href="{{ url_for('detail_b') }}"><img src="static/img/doctor3.jpg" alt="" class="img-fluid"></a></div>
                      </div>
                    </div><a href="{{ url_for('detail_b') }}" class="invisible"><img src="static/img/doctor3.jpg" alt="" class="img-fluid"></a>
                    <div class="text">
                      <h3><a href="{{ url_for('detail_b') }}">{{language['r-a-SurgicalOperation']}}</a></h3>
                     
                      <!-- <p class="buttons"><a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>View more</a></p> -->
                    </div>
                    <!-- /.text-->
                  </div>
                  <!-- /.product            -->
                </div>
                
                <!-- /.products-->
              </div>
              
        </div>
        </div></div></div>
      
    

{% endblock %}