{% extends "customer_base.html" %}

{% block head %}
        <style type="text/css">

                .success{
                    color: green;
                }
                .failure{
                    color: red;
                }

            </style>
{% endblock %}

{% block content %}
<script src="{{ url_for('static', filename='scripts/myjs.js') }}"></script>

<div class="card sidebar-menu">
                <div class="card-header">
                  <h3 class="h4 card-title">{{language['c-register-SPE']}}</h3>
                </div>
                <div class="card-body">
                  <ul class="nav nav-pills flex-column">
                    <a href="{{ url_for('customer_register') }}" class="nav-link active"><i class="fa fa-list"></i>{{language['c-register-Signup']}}</a>
                    <a href="{{ url_for('index') }}" class="nav-link"><i class="fa fa-sign-out"></i> {{language['res-e-back']}}</a></ul>
                </div>
              </div>
              <!-- /.col-lg-3-->
              <!-- *** CUSTOMER MENU END ***-->
</div >
 <div class="col-lg-9 text-center">
              <div class="box">
                <h1>{{language['c-register-Signupnow']}}</h1>
                <!-- <p class="lead">Please fill in the form to log on our website</p> -->
                <hr>
              <form action="" method="post" class="registration-form">
                                    {{ form.hidden_tag() }}
                                    <div class="form-group">
                                        <p id="username">
                                        {{ form.username(size=35) }}
                                        
                                        <span id="checkuser"></span>
                                        </p>
                                        {% for error in form.username.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>
                                    <div class="form-group">
                                        <p id="email">
                                        {{ form.email(size=35) }}
                                        
                                        <span id="checkemail"></span>
                                        </p>
                                        {% for error in form.email.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>
                                    <div class="form-group">
                                        <p id="password">
                                        {{ form.password(size=35) }}
                                        <span id="checkpassword"></span>
                                        </p>
                                        {% for error in form.password.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>
                                    <div class="form-group">
                                        <p id="password2">
                                        {{ form.password2(size=35) }}
                                        </p>
                                        {% for error in form.password2.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>
                                    <div class="row">
                                        <div  style="padding-left: 16px;">
                                        {{ form.accept_rules() }} 
                                        <label >{{language['c-register-accept']}}</label>
                                        <a style="color: #4fbfa8"><b>{{language['c-register-siterule']}}</b></a> <br>
                                        {% for error in form.accept_rules.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div></div>
                                    {{ form.submit() }}
                                </form>
                                <br>
                        <div class="form-check">
                            
                            <p style="font-size: 20px;">
                                {{language['c-register-already']}}&nbsp;
                                <a style="font-size: larger;" href="{{ url_for('login') }}"><b> {{language['c-register-login']}}</b></a>
                                
                            </p>
                        </div>

</div></div>

</div></div></div>



{% endblock %}
