{% extends "base.html" %}

{% block content %}
<!-- 
<script src="{{ url_for('static', filename='assets2/js/jquery-1.11.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets2/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets2/js/jquery.backstretch.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets2/js/retina-1.1.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets2/js/scripts.js') }}"></script> -->

<div class="card sidebar-menu">
                <div class="card-header">
                  <h3 class="h4 card-title">User Entrance</h3>
                </div>
                <div class="card-body">
                  <ul class="nav nav-pills flex-column">
                    <a href="{{ url_for('login') }}" class="nav-link active"><i class="fa fa-list"></i>Login</a>
                    <a href="{{ url_for('index') }}" class="nav-link"><i class="fa fa-sign-out"></i> {{language['res-e-back']}}</a></ul>
                </div>
              </div>
              <!-- /.col-lg-3-->
              <!-- *** CUSTOMER MENU END ***-->
</div >
 <div class="col-lg-9 text-center">
              <div class="box">
                <h1>Login</h1>
                <!-- <p class="lead">Please fill in the form to log on our website</p> -->
                <hr>
              <form action="" method="post" class="registration-form">
                            {{ form.hidden_tag() }}
                    
                            <div class="form-group">
                                {{ form.username(size=32) }}

                                {% for error in form.username.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}  
                            </div>
                        
                        
                            <div class="form-group">
                                {{ form.password(size=32) }}
            
                                {% for error in form.password.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                        
                        <div class="row">
                    <div style="padding-left: 16px;">
                            <!-- <div class="form-check"> -->
                                {{ form.remember_me() }}
                                {{ form.remember_me.label }}
                            <!-- </div> -->
                        </div></div>
                            {{ form.submit() }} 
                        </form>
                        
                        <div class="row">
                            <div class="col-md-12">
                            <br>
                            <p style="font-size: 20px;">
                                {{language['login-noaccount']}}&nbsp;
                                <a style="font-size: larger;" href="{{ url_for('customer_register') }}"><b> Sign up</b></a> here.
                                
                            </p>
                        </div></div>

</div></div>

</div></div></div>

{% endblock %}