{% extends "employee_base.html" %}
{% block content %}

            <div class="container">
              	<div>
              	{% for user in customers.items %}
              	<ul style="text-align: right;">
              		<b style="background: orange;">{{user.username}}</b> &nbsp; 
              		<button onclick="do_jump('{{ user.id}}')" class="btn btn-primary">Reply</button>
              	</ul>
              	<script type="text/javascript">
                      function do_jump(id){
                        window.location.href= ' {{ url_for('chatting_detail') }}?id=' + id
                      }
                 </script>

					{% for post in user.posts %}
						<ul >
							{% if post.name==user.username %}
							<li style="text-align: left;">{{ post }} {{post.body}}   </li>
							
							{% endif %}
						</ul>
					{% endfor %}
					<hr>
					
				{% endfor %}
                {% import 'pages.html' as pg %}
               {{pg.my_paginate(pagination,'employee_chatting')}}
		           
                
              	</div>
            </div>
{% endblock %}