{% extends "employee_base.html" %}

{% block head %}
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <!-- <link href="{{ url_for('static', filename='assets4/css/bootstrap.css') }}" rel='stylesheet'> -->
       <!--  <link href="{{ url_for('static', filename='assets4/css/fresh-bootstrap-table.css') }}" rel='stylesheet'>
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}"> -->
 <!-- <script src="{{ url_for('static', filename='assets4/js/jquery-1.11.2.min.js') }}"></script> -->

<!--     <script src="{{ url_for('static', filename='scripts/jquery.js') }}"></script>
 -->    <!--     Fonts and icons     -->
    <!-- <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'> -->

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='jQ.js') }}"></script>

{% endblock %}

{% block content %}

<div class="wrapper">
    <div class="container">
        <div class="row">
            <form method="post" style="width: 1125px; text-align: right;">
                <a href="{{url_for('employee_t')}}" class="btn btn-primary btn-sm edit">Select a Date</a>
            </form>
        </div>
        <div class="row">
            <div class="col-md-12" >
                                
                <!-- <div style="height: 600px;overflow: auto;" > -->
                <!--    Available colors for the full background: full-color-blue, full-color-azure, full-color-green, full-color-red, full-color-orange                  
                        Available colors only for the toolbar: toolbar-color-blue, toolbar-color-azure, toolbar-color-green, toolbar-color-red, toolbar-color-orange
                -->
                    <table id="fresh" border="2" class="table" style="text-align: center;">
                        <thead>
                            <th data-field="id">ID</th>
                            <th data-field="phone" data-sortable="true">Phone Number</th>
                        	<th data-field="date" data-sortable="true">Date</th>
                            <th data-field="time" data-sortable="true">Time</th>
                            <th data-field="detail">Details</th>
                            <th data-field="type" data-sortable="true">Type</th>
                            <th data-field="status" data-sortable="true">Status</th>
                        	<th data-field="edit">Actions</th>
                        </thead>
                        <tbody>
                            {% for post in prev_posts %}
                            {% if post.Appointment.city == employee_in_db.key %}
                                <tr>
                                  <td>{{post.Appointment.id}}</td>  
                                    <td>{{post.Customer.phone}}</td>
                                  <td>{{post.Appointment.date}}</td>
                                  <td>{{post.Appointment.time}}</td>
                                  <td>{{post.Appointment.details}}</td> 
                                    <td>{{post.Appointment.type}}</td>
                                  <td>{{post.Appointment.status}}</td>
                                  <td><button class="btn btn-primary btn-sm edit">Edit</button></td>
                                </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                <!-- </div> -->
                
                
            </div>
        </div>
    </div>
</div>
 <!-- <script src="{{ url_for('static', filename='assets4/js/jquery-1.11.2.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets4/js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='assets4/js/bootstrap-table.js') }}"></script> -->
<!-- <script src="{{ url_for('static', filename='assets3/js-a/jquery-ui.js') }}"></script> -->

<script language="javascript">
//  function edit(this1){

//     var value = $(this1).parent().parent().find("td");

//     alert(value.eq(0).text());  

// }

    $("table#fresh").on("click","button.edit",function(){
    var $this=$(this);
    var $tr=$this.parents("tr");
    $tr.find("td").not($("td:has(button)")).each(function(){
        var $td=$(this);
        var _t=$td.text();
        var _w=$td.width();
        var _h=$td.height();
        $td.html("");
        var $input=$("<input type='text' class='form-control form-control-sm'>");
        $input.appendTo($td).width(_w).val(_t);
    });
    $this.removeClass().addClass("btn btn-danger btn-sm ajax").text("Submit");  
});

    $("table#fresh").on("click","button.ajax",function(){
    var $this=$(this);
    var $tr=$this.parents("tr");
    var v=[];
    $tr.find("td input:text").each(function(){
        v.push($(this).val());        
    });
    var s=v.join(",")
    // $.post("/Html/aijquery/ajax-post/",{"d":v},function(d){
    var data={'s':s};
    $.ajax({
        url: '/arrange',
        type:"post",
        data:data,
        dataType:'json',
        traditional:true,
        async:false,
        success:function(d){
            // alert(d);
            var narray=d.split(',');
            var nhtml="<td>"+v.join("</td><td>")+"</td>";
            nhtml=nhtml+"<td><button class=\"btn btn-primary btn-sm edit\">Edit</button></td>";
            $tr.html(nhtml);
        },
        error: function(e){
            alert("error"+e);
        }
    });
    // $.post('/arrange',{"ids":data_id},function(d){
        // alert(d);
        // var narray=d.split(',');
        // var nhtml="<td>"+v.join("</td><td>")+"</td>";
        // nhtml=nhtml+"<td><button class=\"btn btn-primary btn-sm edit\">Edit</button></td>";
        // $tr.html(nhtml);
    // });
});

    $(function() {
    $( "#datepicker" ).datepicker({dateFormat: "yy-mm-dd"});
    });
     </script>
{% endblock %}