{% extends "base.html" %}

{% block content %}
		<div class="slider">
        	<div class="slider-img">
          		<div class="container" style="text-align: left; padding-top: 30px;">
            		<div class="slider-info">
              			<h5>{{language['index-healing']}}</h5>
              			<div class="bottom-info">
              				<p>{{language['index-dogsonly']}}</p>
              			</div>
              			<div class="outs_more-buttn">
                			<a href="#">{{language['index-readmore']}}</a>
              			</div>
            		</div>
          		</div>
        	</div>
        <!-- This is here just to demonstrate the callbacks -->
        <!-- <ul class="events">
          <li>Example 4 callback events</li>
          </ul>-->
       		<div class="clearfix"></div>
    	</div>

{% endblock %}