{% extends "customer_base.html" %}

{% block content %}
              <div class="card sidebar-menu">
                <div class="card-header">
                  <h3 class="h4 card-title">Pet Accounts</h3>
                </div>
                <div class="card-body">
                  <ul class="nav nav-pills flex-column">
                    <a href="{{ url_for('pet_account') }}" class="nav-link active"><i class="fa fa-list"></i> Pet Account</a>
                    <a href="{{ url_for('pet_delete') }}" class="nav-link active"><i class="fa fa-list"></i> Pet Delete</a>
                    <a href="{{ url_for('pet_add') }}" class="nav-link active"><i class="fa fa-list"></i> Pet Add</a>
                    <a href="{{ url_for('customer_index') }}" class="nav-link"><i class="fa fa-sign-out"></i> Back</a></ul>
                </div>
              </div>
              <!-- /.col-lg-3-->
              <!-- *** CUSTOMER MENU END ***-->
            </div>
            <div class="col-lg-9">
              <div class="box">
                <h1 style="text-align: center;">My pets</h1>
              <!-- <p class="lead">Status of your appointments</p> -->
              <p class="text-muted"></p>
              <hr>
              <div class="table-responsive">
                <table class="table table-hover" style="text-align: center;">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Age</th>
                      <th>Gender</th>
                      <th>Type</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for pet in prev_posts %}

                    {% if pet.id %}
                    <tr>
                      <th>{{pet.id}}</th>
                      <td>{{pet.name}}</td>
                      <td>{{pet.old}}</td>
                      <td>{{pet.gender}}</span></td>
                      <td>{{pet.type}}</td>
                      <td><button onclick="do_jump('{{ pet.id}}')" class="btn btn-primary"> Change</button></td>
                    </tr>
                    <script type="text/javascript">
                      function do_jump(id){
                        window.location.href= ' {{ url_for('pet_change') }}?id=' + id
                      }
                    </script>
                    {% endif %}

                    {% endfor %}
                    
                  </tbody>
                </table>
              </div>
               {% if not prev_posts.pet_id %}
               <p class="text-muted">If there is no pet, you can <a href="{{ url_for('pet_add') }}">add your pet</a> here.</p>
               {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}