{% extends "customer_base.html" %}

{% block content %}

              <div class="card sidebar-menu">
                <div class="card-header">
                  <h3 class="h4 card-title">{{language['p-account-petaccount']}}</h3>
                </div>
                <div class="card-body">
                  <ul class="nav nav-pills flex-column">
                    <a href="{{ url_for('pet_account') }}" class="nav-link active"><i class="fa fa-list"></i> {{language['p-account-petaccount']}}</a>
                    <a href="{{ url_for('pet_delete') }}" class="nav-link active"><i class="fa fa-list"></i> {{language['p-account-petdelete']}}</a>
                    <a href="{{ url_for('pet_add') }}" class="nav-link active"><i class="fa fa-list"></i> {{language['p-account-add']}}</a>
                    <a href="{{ url_for('customer_index') }}" class="nav-link"><i class="fa fa-sign-out"></i> {{language['p-account-back']}}</a></ul>
                </div>
              </div>
              <!-- /.col-lg-3-->
              <!-- *** CUSTOMER MENU END ***-->
            </div>
            <div class="col-lg-9">
              <div class="box">
                <h1>{{language['p-delete-petdelete']}}</h1>

                <form action="" method="post" novalidate>
                  {{ form.hidden_tag() }}

                <div class="row " >
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="firstname">{{language['p-delete-selectpet']}}</label>
                        {{form.pet_id}}
                        
                      </div>
                    </div>
                  </div>
                  <!-- /.row-->
                  
                    <div class="form-group">
                      {{ form.delete() }}
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}