{% extends "customer_base.html" %}

{% block content %}
              <div class="card sidebar-menu">
                <div class="card-header">
                  <h3 class="h4 card-title">{{language['c-index-Status']}}</h3>
                </div>
                <div class="card-body">
                  <ul class="nav nav-pills flex-column">
                    <a href="{{ url_for('status_a') }}" class="nav-link active"><i class="fa fa-list"></i>{{language['c-index-StandardStatus']}}</a>
                    <a href="{{ url_for('status_e') }}" class="nav-link active"><i class="fa fa-list"></i>{{language['c-index-EmergencyStatus']}}</a>
                    <a href="{{ url_for('customer_index') }}" class="nav-link"><i class="fa fa-sign-out"></i> {{language['res-e-back']}}</a></ul>
                </div>
              </div>
              <!-- /.col-lg-3-->
              <!-- *** CUSTOMER MENU END ***-->
<!--              <div class="banner"><a href="#"><img src="static/img/banner.jpg"  class="img-fluid"></a></div>-->
            </div>
            <div class="col-lg-9">
             
		
           
          
          <div id="customer-orders" class="col-lg-9">
            <div class="box" style="margin-right: -220px;margin-left: -14px;">
              <h1>{{language['s-e-emergencystatus']}}</h1>
              <!-- <p class="lead">Status of your appointments</p> -->
              <p class="text-muted">{{language['s-a-ifproblem']}} <a href="{{url_for('customer_chatting')}}">{{language['r-a-contactus']}}</a>{{language['r-a-247']}}</p>
              <hr>
              <div class="table-responsive">
                <table class="table table-hover" style="text-align: center;">
                  <thead>
                    <tr>
                      <th>{{language['s-a-id']}}</th>
                      <th>{{language['s-a-petname']}}</th>
                      <th>{{language['s-a-date']}}</th>
                      <th>{{language['r-a-time']}}</th>
                      <th>{{language['s-a-status']}}</th>
                      <th>{{language['s-a-action']}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for post in prev_posts %}
                    {% if post.Pet.customer_id == customer_in_db.id and post.Appointment.type == "Emergency" %}
                    <tr>
                      <th>{{post.Pet.id}}</th>
                      <td>{{post.Pet.name}}</td>
                      <td>{{post.Appointment.date}}</td>
                      <td>{{post.Appointment.time}}</td>
                     <!-- 加上了不同状态的标签 -->
                      <td>
                        {% if post.Appointment.status == "Submitted" %}
                        <span class="badge badge-info">{{post.Appointment.status}}</span>
                        {% elif post.Appointment.status == "Success" %}
                        <span class="badge badge-success">{{post.Appointment.status}}</span>
                        {% else %}
                        <span class="badge badge-warning">{{post.Appointment.status}}</span>
                        {% endif %}
                      </td>                      
                      <td><a href="#" class="btn btn-primary btn-sm">View</a></td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    
                  </tbody>
                </table>
              </div>
            </div>            <!-- /.col-lg-9-->
          </div>
        </div>
      </div>
    </div>
{% endblock %}