{% extends "customer_base.html" %}

{% block content %}

              <div class="card sidebar-menu">
                <div class="card-header">
                  <h3 class="h4 card-title">{{language['p-account-petaccount']}}</h3>
                </div>
                <div class="card-body">
                  <ul class="nav nav-pills flex-column">
                    <a href="{{ url_for('pet_account') }}" class="nav-link active"><i class="fa fa-list"></i> {{language['p-account-mypet']}}</a>
                    
                    <a href="{{ url_for('pet_account') }}" class="nav-link"><i class="fa fa-sign-out"></i> {{language['p-account-back']}}</a></ul>
                </div>
              </div>
              <!-- /.col-lg-3-->
              <!-- *** CUSTOMER MENU END ***-->
            </div>

            <div class="col-lg-9">
              <div class="box">
                <h1>{{language['p-add-petaccount']}}</h1>

                <form action="" method="post" novalidate>
                  {{ form.hidden_tag() }}

                <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <p class="text-muted">{{language['p-add-show-id']}}<span id="showid"></span></p>

                        <script type="text/javascript">

                          function getUrlParam(name){
                            
                            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
                            var r = window.location.search.substr(1).match(reg);
                            if (r != null) return unescape(r[2]);
                            return null;

                          }

                          var name = getUrlParam('id')
                          $('#showid').html(name)
                        </script>
                      </div>
                    </div>
                  </div>
                  <!-- /.row-->
              
                 
                  
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="firstname">{{language['p-add-name']}}</label>
                        {{ form.pet_name(size=32) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="lastname">{{language['p-add-old']}}</label>
                        {{ form.pet_age(size=32) }}
                      </div>
                    </div>
                  </div>
                  <!-- /.row-->
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="company">{{language['p-add-gender']}}</label>
                        {{ form.pet_gender }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="street">{{language['p-add-type']}}</label>
                        {{ form.pet_type }}
                      </div>
                    </div>
                  </div>
                  <!-- /.row-->
                
                    <div class="col-md-12 text-center">
                      {{ form.save() }}
                     
                     
                    </div>
               </form>
               <div class="col-md-12 text-center">
                      <button class="btn btn-warning"><i class="fa fa-sign-out"></i>{{language['p-account-delet']}}</button>
                     
                     
                    </div>
              </div>
            </div>
          

  <script type="text/javascript">
      $("button").click(function(){
    var $this=$(this);
    var $id=$("#showid");

    var res=confirm('Are you sure to delete the pet?');
    if(res==true){
      var s=$id.html();
      // alert(s);
      var data={'s':s};
      $.ajax({
        url: '/deletePet',
        type:"post",
        data:data,
        dataType:'json',
        traditional:true,
        async:false,
        success:function(d){
            alert('You have deleted pet: ID='+d);
            window.location.href=' {{ url_for('pet_account') }}'
        },
        error: function(e){
            alert("error"+e);
        }
    });
      
    }
    });

    </script>

{% endblock %}