{% extends "employee_base.html" %}
{% block content %}

            <div class="container" style="background-color: #FDF5E6;">
              	<div>
              	{% for user in customers.items %}
              	<div style="text-align: right;">
              		Username: <b style="background: orange;">{{user.username}}</b> &nbsp; 
              		<button onclick="do_jump('{{ user.id}}')" class="btn btn-primary">Reply</button>
              	</div>
              	<script type="text/javascript">
                      function do_jump(id){
                        window.location.href= ' {{ url_for('chatting_detail') }}?id=' + id
                      }
                 </script>

					{% for post in user.posts %}
						<ul >
							{% if post.name==user.username %}
							<li style="text-align: left;">{{ post }} <b style="font-size: large;">{{ post.body }}</b>  </li>
							
							{% endif %}
						</ul>
					{% endfor %}
					<hr>
					
				{% endfor %}
                {% import 'pages.html' as pg %}
               {{pg.my_paginate(pagination,'employee_chatting')}}
		           
                
              	</div>
            </div>
{% endblock %}