<html>
    <head>
        {% if title %}
        <title>{{ title }} - Healing Paws</title>
        {% else %}
        <title>Healing Paws System</title>
        {% endif %}
		<link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
        <script src="{{ url_for('static', filename='scripts/jquery.js') }}"></script>
    </head>
    
    <body>
        <div>
            Healing Paws System:
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
			<a href="{{ url_for('static', filename='plain.html') }}">For Employees</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
