{% extends "customer_base.html" %}

{% block content %}

              <div class="card sidebar-menu mb-4">
                <div class="card-header">
                  <h3 class="h4 card-title">CATELOGUE</h3>
                </div>
                <div class="card-body">
                  <ul class="nav nav-pills flex-column category-menu">
                    <li><a href="category.html" class="nav-link">Standard</a>
                      <ul class="list-unstyled">
                        <li><a href="{{ url_for('reservation_s') }}" class="nav-link">Make an appointment</a></li>
                        <li><a href="{{ url_for('status_a') }}" class="nav-link">Appointment Status</a></li>
                        <li><a href="{{ url_for('record_a') }}" class="nav-link">Appointment record</a></Sli>
                      </ul>
                    </li>
                    <li><a href="category.html" class="nav-link">Emergency</a>
                  <!--  <li><a href="category.html" class="nav-link active">Emergency  <span class="badge badge-light">1</span></a>-->
                      <ul class="list-unstyled">
                        <li><a href="{{ url_for('reservation_e') }}" class="nav-link">Make an appointment</a></li>
                        <li><a href="{{ url_for('status_e') }}" class="nav-link">Appointment Status</a></li>
                        <li><a href="{{ url_for('record_e') }}" class="nav-link">Appointment record</a></li>
                      </ul>
                    </li>
                    <li><a href="category.html" class="nav-link">Surgical Operation</a>
                      <ul class="list-unstyled">
                        <li><a href="{{ url_for('status_sur') }}" class="nav-link">Operation Status</a></li>
                        <li><a href="{{ url_for('record_o') }}" class="nav-link">Operation record</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
  <!--             <div class="card sidebar-menu mb-4">
                <div class="card-header">
                  <h3 class="h4 card-title">PETS <a href="#" class="btn btn-sm btn-danger pull-right"><i class="fa fa-times-circle"></i> Clear</a></h3>
                </div>
                <div class="card-body">
                  <form>
                    <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> 1
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> 2
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> 3
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> 4
                        </label>
                      </div>
                    </div>
                   
                  </form>
                </div>
              </div> -->
             
              <!-- *** MENUS AND FILTERS END ***-->
              <div class="banner"><a href="#"><img src="static/img/banner.jpg"  class="img-fluid"></a></div>
            </div>
            <div class="col-lg-9">
              
		
           
                  <div id="customer-order" class="col-lg-9">
                    <div class="box" style="margin-right: -220px;margin-left: -14px;">
                      <h1>Emergency Appointment List</h1>
                      
                      <p class="text-muted">If you have any questions, please feel free to <a href="contact.html">contact us</a>, our customer service center is working for you 24/7.</p>
                      <hr>
                      <div class="table-responsive mb-4">
                        <table class="table">
                          <thead>
                            <tr>
                              <th colspan="2">Pet</th>
                              <th>Old</th>
                              <th>Date</th>
                              <th>Duration</th>
                              
                            </tr>
                          </thead>
                          <tbody>
                            {% for post in prev_posts %}
                            {% if post.Pet.customer_id == customer_in_db.id and post.Appointment.type == "Emergency" %}
                            <tr>
                              <td>{{post.Pet.name}}</td>
                              <td><a href="#">{{post.Pet.name}} account</a></td>
                              <td>{{post.Pet.old}}</td>
                              <td>{{post.Appointment.date}}</td>
                              <td>{{post.Appointment.time}}</td>
                              
                            </tr>
                            {% endif %}
                            {% endfor %}
                            <!-- <tr>
                                <td>mike2</td>
                                <td><a href="#">mike2 account</a></td>
                              <td>1</td>
                              <td>14/04/2020</td>
                              <td>1h</td>
                              
                            </tr> -->
                          </tbody>
                         
                        </table>
                      </div>
                      <!-- /.table-responsive-->
                      <div class="row addresses">
                        <div class="col-lg-6">
                          <h2></h2>
                        </div>
                        <div class="col-lg-6">
                          <h2>Hospital address</h2>
                          <p>John Brown<br>13/25 New Avenue<br>New Heaven<br>45Y 73J<br>Beijing</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
{% endblock %}