{% extends "customer_base.html" %}

{% block content %}

              <div class="card sidebar-menu">
                <div class="card-header">
                  <h3 class="h4 card-title">Emergency Reservation</h3>
                </div>
                <div class="card-body">
                  <ul class="nav nav-pills flex-column"><a href="{{ url_for('reservation_e') }}" class="nav-link active"><i class="fa fa-list"></i>Emergency Reservation</a><a href="{{ url_for('customer_index') }}" class="nav-link"><i class="fa fa-sign-out"></i> Back</a></ul>
                </div>
              </div>
              <!-- /.col-lg-3-->
              <!-- *** CUSTOMER MENU END ***-->
            </div >
            <div class="col-lg-9">
              <div class="box">
                <h1>Emergency Reservation</h1>
              
                <form action="" method="post" novalidate>
                  {{ form.hidden_tag() }}
                <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="firstname">Select your pet here.</label>
                        {{form.pet_id}}
                        <a href="{{ url_for('pet_add') }}" ><i class="fa fa-list"></i> Add new pet</a>
                      </div>
                    </div>
                  </div>
                  <!-- /.row-->
                 
                  
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="city">Arrive time</label>
                        {{ form.time }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="time">city </label>
                        {{ form.city }}
                      </div>
                    </div>
                  </div>
                  <!-- /.row-->
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="street">More Details</label>
                        {{ form.detial(size=300) }}
                      </div>
                    </div>
                  </div>
                  <!-- /.row-->
                
                    <div class="col-md-12 text-center">
                      <button type="submit" class="btn btn-primary"><i class="fa fa-list"></i>Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}