{% extends "employee_base.html" %}

{% block head %}
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <!-- <link href="{{ url_for('static', filename='assets4/css/bootstrap.css') }}" rel='stylesheet'> -->
       <!--  <link href="{{ url_for('static', filename='assets4/css/fresh-bootstrap-table.css') }}" rel='stylesheet'>
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}"> -->
 <!-- <script src="{{ url_for('static', filename='assets4/js/jquery-1.11.2.min.js') }}"></script> -->

<!--     <script src="{{ url_for('static', filename='scripts/jquery.js') }}"></script>
 -->    <!--     Fonts and icons     -->
    <!-- <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'> -->

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='jQ.js') }}"></script>

{% endblock %}

{% block content %}

<div class="wrapper">
    <div class="container">
        <div class="row">
            <form method="post" style="width: 1125px; text-align: right;">
                <!-- {{ form.date( id="datepicker", onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'MM/DD/YYYY';}") }} -->
                {{ form.date(size=20) }}
                {{ form.submit() }}
            </form>
        </div>
        <div class="row">
            <div class="col-md-12" >
                                
                    <table id="fresh" border="2" class="table" style="text-align: center;">
                        <thead>
                            <th data-field="id">ID</th>
                            <th data-field="phone" data-sortable="true">Phone Number</th>
                        	<th data-field="date" data-sortable="true">Date</th>
                            <th data-field="time" data-sortable="true">Time</th>
                            <th data-field="detail">Details</th>
                            <th data-field="type" data-sortable="true">Type</th>
                            <th data-field="status" data-sortable="true">Status</th>
                        	<th data-field="edit">Actions</th>
                        </thead>
                        <tbody>
                            {% for post in prev_posts %}
                            {% if post.Appointment.city == employee_in_db.key and post.Appointment.date==d %}
                                <tr>
                                  <td>{{post.Appointment.id}}</td>  
                                    <td>{{post.Customer.phone}}</td>
                                  <td>{{post.Appointment.date}}</td>
                                  <td>{{post.Appointment.time}}</td>
                                  <td>{{post.Appointment.details}}</td> 
                                    <td>{{post.Appointment.type}}</td>
                                  <td>{{post.Appointment.status}}</td>
                                  <td><button class="btn btn-primary btn-sm edit">Edit</button></td>
                                </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                <!-- </div> -->
                
                
            </div>
        </div>
    </div>
</div>
 <!-- <script src="{{ url_for('static', filename='assets4/js/jquery-1.11.2.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets4/js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='assets4/js/bootstrap-table.js') }}"></script> -->
<!-- <script src="{{ url_for('static', filename='assets3/js-a/jquery-ui.js') }}"></script> -->

<script language="javascript">
//  function edit(this1){

//     var value = $(this1).parent().parent().find("td");

//     alert(value.eq(0).text());  

// }

    $("table#fresh").on("click","button.edit",function(){
    var $this=$(this);
    var $tr=$this.parents("tr");
    $tr.find("td").not($("td:has(button)")).each(function(){
        var $td=$(this);
        var _t=$td.text();
        var _w=$td.width();
        var _h=$td.height();
        $td.html("");
        var $input=$("<input type='text' class='form-control form-control-sm'>");
        $input.appendTo($td).width(_w).val(_t);
    });
    $this.removeClass().addClass("btn btn-danger btn-sm ajax").text("Submit");  
});

    $("table#fresh").on("click","button.ajax",function(){
    var $this=$(this);
    var $tr=$this.parents("tr");
    var v=[];
    $tr.find("td input:text").each(function(){
        v.push($(this).val());        
    });
    var s=v.join(",")
    // $.post("/Html/aijquery/ajax-post/",{"d":v},function(d){
    var data={'s':s};
    $.ajax({
        url: '/arrange',
        type:"post",
        data:data,
        dataType:'json',
        traditional:true,
        async:false,
        success:function(d){
            // alert(d);
            var narray=d.split(',');
            var nhtml="<td>"+v.join("</td><td>")+"</td>";
            nhtml=nhtml+"<td><button class=\"btn btn-primary btn-sm edit\">Edit</button></td>";
            $tr.html(nhtml);
        },
        error: function(e){
            alert("error"+e);
        }
    });
    // $.post('/arrange',{"ids":data_id},function(d){
        // alert(d);
        // var narray=d.split(',');
        // var nhtml="<td>"+v.join("</td><td>")+"</td>";
        // nhtml=nhtml+"<td><button class=\"btn btn-primary btn-sm edit\">Edit</button></td>";
        // $tr.html(nhtml);
    // });
});

        //     var $table = $('#fresh-table'),
        //     // $alertBtn = $('#alertBtn'),
        //     full_screen = false;
            
        // $().ready(function(){
        //     $table.bootstrapTable({
        //         toolbar: ".toolbar",
    
        //         showRefresh: true,
        //         search: true,
        //         showToggle: true,
        //         showColumns: true,
        //         pagination: true,
        //         striped: true,
        //         pageSize: 7,
        //         pageList: [7,20,30],
        //         formatShowingRows: function(pageFrom, pageTo, totalRows){
        //             //do nothing here, we don't want to show the text "showing x of y from..." 
        //         },
        //         formatRecordsPerPage: function(pageNumber){
        //             return pageNumber + " rows visible";
        //         },
        //         icons: {
        //             refresh: 'fa fa-refresh',
        //             toggle: 'fa fa-th-list',
        //             columns: 'fa fa-columns',
        //             detailOpen: 'fa fa-plus-circle',
        //             detailClose: 'fa fa-minus-circle'
        //         }
        //     });
                        
            
            // $(window).resize(function () {
            //     $table.bootstrapTable('resetView');
            // });
    
            
            // window.operateEvents = {
            //     'click .like': function (e, value, row, index) {
            //         alert('You click like icon, row: ' + JSON.stringify(row));
            //         console.log(value, row, index);
            //     },
            //     'click .edit': function (e, value, row, index) {
            //         alert('You click edit icon, row: ' + JSON.stringify(row));
            //         console.log(value, row, index);    
            //     },
            //     'click .remove': function (e, value, row, index) {
            //         $table.bootstrapTable('remove', {
            //             field: 'id',
            //             values: [row.id]
            //         });
            
            //     }
            // };
            
            // $alertBtn.click(function () {
            //     alert("You pressed on Alert");
            // });
            
        // });
            
    
        // function operateFormatter(value, row, index) {
        //     return [
        //         '<a rel="tooltip" title="Like" class="table-action like" href="javascript:void(0)" title="Like">',
        //             '<i class="fa fa-heart"></i>',
        //         '</a>',
        //         '<a rel="tooltip" title="Edit" class="table-action edit" href="javascript:void(0)" title="Edit">',
        //             '<i class="fa fa-edit"></i>',
        //         '</a>',
        //         '<a rel="tooltip" title="Remove" class="table-action remove" href="javascript:void(0)" title="Remove">',
        //             '<i class="fa fa-remove"></i>',
        //         '</a>'
        //     ].join('');
        // }

//         $("table#aijquery").on("click","button.edit",function(){
//     var $this=$(this);    //获取被点击的按钮
//     var $tr=$this.parents("tr");    //获取当前按钮所在的tr行
//     $tr.find("td").not($("td:has(button)")).each(function(){ //获取当前行所有除了含有button的td
//         var $td=$(this);
//         var _t=$td.text();
//         var _w=$td.width();
//         var _h=$td.height();
//         $td.html("");
//         var $input=$("<input type='text' class='border border-primary'>");
//         $input.appendTo($td).width(_w).val(_t);
//     });
//     $this.removeClass().addClass("btn btn-danger btn-sm ajax").text("Submit");//更改按钮的样式
// });
// // http://www.aijquery.cn/Html/jqueryshili/108.html

//     $("table#aijquery").on("click","button.ajax",function(){
//     var $this=$(this);
//     var $tr=$this.parents("tr");
//      
//     //获取编辑后的内容，并放入一个数组内
//     var v=[];
//     $tr.find("td input:text").each(function(){
//         v.push($(this).val());
//     });
//      
//     //用jquery里post方法，把数据提交到后台，经过后台处理后，在输出到前台
// //     $.post("/Html/aijquery/ajax-post/",{"d":v},function(d){
//         //获取到经过后台处理的数据，动态更新到前台
//         var narray=d.split(",");
//         var nhtml="<td>"+narray.join("</td><td>")+"</td>";
//         nhtml=nhtml+"<td><button class=\"btn btn-primary btn-sm edit\">编辑</button></td>";
//         $tr.html(nhtml);
// //     });
// });
    $(function() {
    $( "#datepicker" ).datepicker({dateFormat: "yy-mm-dd"});
    });
     </script>
{% endblock %}



