{% extends "customer_base.html" %}

{% block content %}

              <div class="card sidebar-menu">
                <div class="card-header">
                  <h3 class="h4 card-title">Pet Accounts</h3>
                </div>
                <div class="card-body">
                  <ul class="nav nav-pills flex-column">
                    <a href="{{ url_for('pet_account') }}" class="nav-link active"><i class="fa fa-list"></i> Pet Account</a>
                    <a href="{{ url_for('pet_delete') }}" class="nav-link active"><i class="fa fa-list"></i> Pet Delete</a>
                    <a href="{{ url_for('pet_add') }}" class="nav-link active"><i class="fa fa-list"></i> Pet Add</a>
                    <a href="{{ url_for('customer_index') }}" class="nav-link"><i class="fa fa-sign-out"></i> Back</a></ul>
                </div>
              </div>
              <!-- /.col-lg-3-->
              <!-- *** CUSTOMER MENU END ***-->
            </div>
            <div class="col-lg-9">
              <div class="box">
                <h1>Pet accounts</h1>

                <form action="" method="post" novalidate>
                  {{ form.hidden_tag() }}

                <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <p class="text-muted">Change your pet information which id is <span id="showid"></span> </p>

                        <script>
                                //获取url中的参数
                                function getUrlParam(name) {
                         
                                    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
                                    var r = window.location.search.substr(1).match(reg);  //匹配目标参数
                                    if (r != null) return unescape(r[2]); 
                                    return null; //返回参数值
                         
                                }
                         
                                var petid = getUrlParam('id')
                                $('#showid').html(petid) // 给id选择器相对应标签渲染传递过来的参数
                         
                        </script>
                      </div>
                    </div>
                  </div>
                  <!-- /.row-->
              
                 
                  
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="firstname">Name</label>
                        {{ form.pet_name(size=32) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="lastname">Old</label>
                        {{ form.pet_age(size=32) }}
                      </div>
                    </div>
                  </div>
                  <!-- /.row-->
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="company">Gender</label>
                        {{ form.pet_gender }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="street">Type</label>
                        {{ form.pet_type(size=32) }}
                      </div>
                    </div>
                  </div>
                  <!-- /.row-->
                
                    <div class="col-md-12 text-center">
                      {{ form.save() }}
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}