{% extends "customer_base.html" %}

{% block content %}
              <div class="card sidebar-menu mb-4">
                <div class="card-header">
                  <h3 class="h4 card-title">CATELOGUE</h3>
                </div>
                <div class="card-body">
                  <ul class="nav nav-pills flex-column category-menu">
                    <li><a href="category.html" class="nav-link">Standard</a>
                      <ul class="list-unstyled">
                        <li><a href="{{ url_for('reservation_s') }}" class="nav-link">Make an appointment</a></li>
                        <li><a href="{{ url_for('status_a') }}" class="nav-link">Appointment Status</a></li>
                        <li><a href="{{ url_for('record_a') }}" class="nav-link">Appointment record</a></Sli>
                      </ul>
                    </li>
                    <li><a href="category.html" class="nav-link">Emergency</a>
                  <!--  <li><a href="category.html" class="nav-link active">Emergency  <span class="badge badge-light">1</span></a>-->
                      <ul class="list-unstyled">
                        <li><a href="{{ url_for('reservation_e') }}" class="nav-link">Make an appointment</a></li>
                        <li><a href="{{ url_for('status_e') }}" class="nav-link">Appointment Status</a></li>
                        <li><a href="{{ url_for('record_e') }}" class="nav-link">Appointment record</a></li>
                      </ul>
                    </li>
                    <li><a href="category.html" class="nav-link">Surgical Operation </a>
                      <ul class="list-unstyled">
                        <li><a href="{{ url_for('status_sur') }}" class="nav-link">Operation Status</a></li>
                        <li><a href="{{ url_for('record_o') }}" class="nav-link">Operation record</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="card sidebar-menu mb-4">
                <div class="card-header">
                  <h3 class="h4 card-title">PETS</h3>
                </div>
                <div class="card-body">
                                <div class="banner"><a href="#"><img src="static/img/banner.jpg"  class="img-fluid"></a></div>

                </div>
              </div>
             
              <!-- *** MENUS AND FILTERS END ***-->
            </div>
            <div class="col-lg-9">
             
		
           
          
          <div id="customer-orders" class="col-lg-9">
            <div class="box" style="margin-right: -220px;margin-left: -14px;">
              <h1>Emergency Appiontment Status</h1>
              <!-- <p class="lead">Status of your appointments</p> -->
              <p class="text-muted">If you have any questions, please feel free to <a href="contact.html">contact us</a>, our customer service center is working for you 24/7.</p>
              <hr>
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Pet Name</th>
                      <th>Time</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for post in prev_posts %}
                    {% if post.Pet.customer_id == customer_in_db.id and post.Appointment.type == "Emergency" %}
                    <tr>
                      <th>{{post.Pet.id}}</th>
                      <td>{{post.Pet.name}}</td>
                      <td>{{post.Appointment.time}}</td>
                     <!-- 加上了不同状态的标签 -->
                      <td>
                        {% if post.Appointment.status == "Submitted" %}
                        <span class="badge badge-info">{{post.Appointment.status}}</span>
                        {% elif post.Appointment.status == "Success" %}
                        <span class="badge badge-success">{{post.Appointment.status}}</span>
                        {% else %}
                        <span class="badge badge-warning">{{post.Appointment.status}}</span>
                        {% endif %}
                      </td>                      
                      <td><a href="customer-order.html" class="btn btn-primary btn-sm">View</a></td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    
                  </tbody>
                </table>
              </div>
            </div>            <!-- /.col-lg-9-->
          </div>
        </div>
      </div>
    </div>
{% endblock %}